/* Styles by HTML tag */
body {
	padding: 0px;
	margin: 0px;
}

footer {
	background-color: white;
	background-clip: padding-box;
	border-top: 1px solid darkgray;
}

/* Styles by class */
#title {
	font-size: 48px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 20px;
	padding-bottom: 0px;
	border: 0px;
	
}

#header {
	 /*text styling*/
	text-align: center;
	background-color: #202020;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	
	/*Padding, etc.*/
	margin: 0px;
	padding-left: 240px;
	padding-right: 250px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#headerTitle {
	text-align: left;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bannerBar {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: #202020;
}

#body-article {
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin: 0 px;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: white;
	
}

#footerText {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-left: 250px;
	padding-right: 250px;
	font-size: 10px;
}

#banner {
	margin: 0px;
	padding: 0px;
	align-content: center;
	background-color: #202020;
}

/* Styles by ID */
.header-link {
	color: white;
	text-decoration: none;
}

.header-link:hover {
	color: gray;
}

.article {
	padding-top: 5px;
	padding-bottom: 5px;
}

.article-footer {
	text-align: center;
	padding-top: 5px;
	font-style: italic;
}

.footer-link {
	color: black;
	text-decoration: none;
}

.footer-link:hover {
	color: gray;
}